<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :custFName %><br>
      <%= f.text_field :custFName %>
    </div>
    <div class="field">
      <%= f.label :custLName %><br>
      <%= f.text_field :custLName %>
    </div>
    <div class="field">
      <%= f.label :custPatronymic %><br>
      <%= f.text_field :custPatronymic %>
    </div>
    <div class="field">
      <%= f.label :custEmail %><br>
      <%= f.text_field :custEmail %>
    </div>
    <div class="field">
      <%= f.label :custPhoneHome %><br>
      <%= f.text_field :custPhoneHome %>
    </div>
    <div class="field">
      <%= f.label :custPhoneOffice %><br>
      <%= f.text_field :custPhoneOffice %>
    </div>
    <div class="field">
      <%= f.label :custPhoneMobile1 %><br>
      <%= f.text_field :custPhoneMobile1 %>
    </div>
    <div class="field">
      <%= f.label :custPhoneMobile2 %><br>
      <%= f.text_field :custPhoneMobile2 %>
    </div>
    <div class="field">
      <%= f.label :custAddressHome %><br>
      <%= f.text_field :custAddressHome %>
    </div>
    <div class="field">
      <%= f.label :custAddressOffice %><br>
      <%= f.text_field :custAddressOffice %>
    </div>
    <div class="field">
      <%= f.label :custDescription %><br>
      <%= f.text_field :custDescription %>
    </div>
  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
