<%= form_for(@ticket) do |f| %>
  <% if @ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% @ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select(:customer_id, @customers, :id, :custLName, :include_blank => t("Please_select")) %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select(:user_id, @users, :id, :userLogin, :include_blank => t("Please_select")) %>
  </div>


<div class="panel panel-default">
    <div class="form-group">
      <div class="field">
        <%= f.label :equipmentType_id %><br>
        <%= f.collection_select(:equipmentType_id, @equipmentTypes, :id, :equipmentTypeName, :include_blank => t("Please_select")) %>
      </div>
      <div class="field">
        <%= f.label :ticketItemSerialNum %><br>
        <%= f.text_field :ticketItemSerialNum, :class=>'form-control has-success' %>
      </div>
      <div class="field">
        <%= f.label :brand_id %><br>
        <%= f.collection_select(:brand_id, @brands, :id, :brandName, :include_blank => t("Please_select")) %>
      </div>
      <div class="field">
        <%= f.label :model_id %><br>
        <%= f.collection_select(:model_id, @models, :id, :modelName, :include_blank => t("Please_select")) %>
      </div>
      <div class="field">
        <%= f.label :color_id %><br>
        <%= f.collection_select(:color_id, @colors, :id, :colorName, :include_blank => t("Please_select")) %>
      </div>
      <div class="field">
        <%= f.label :ticketItemDesc %><br>
        <%= f.text_area :ticketItemDesc, :class => 'form-control autogrow'  %>
      </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="form-group">
      <div class="field">
        <%= f.label :ticketAcceptDateTime %><br>
        <%= f.datetime_select :ticketAcceptDateTime %>
      </div>
      <div class="field">
        <%= f.label :ticketPredictionDateTime %><br>
        <%= f.datetime_select :ticketPredictionDateTime %>
      </div>
      <div class="field">
        <%= f.label :ticketReadyDateTime %><br>
        <%= f.datetime_select :ticketReadyDateTime %>
      </div>
    </div>
</div>

<div class="panel panel-default">
  <div class="form-group">
      <div class="field">
        <%= f.label :ticketProblemDesc %><br>
        <%= f.text_area :ticketProblemDesc, :class => 'form-control autogrow'  %>
      </div>
      <div class="field">
        <%= f.label :ticketSolutionDesc %><br>
        <%= f.text_area :ticketSolutionDesc, :class => 'form-control autogrow' %>
      </div>
  </div>
</div>

  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
