<%# <h1>Listing equipment_types</h1> %>
<% if (notice) %>
    <div class="alert alert-success fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <p id="notice"><%= notice %></p>
    </div>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
        <th style="text-align: center;  vertical-align: middle;"><%= t("equipment_type.equipmentTypeName") %></th>
        <th style="text-align: center;  vertical-align: middle;"><%= t("equipment_type.equipmentTypeDesc") %></th>
        <th></th>
    </tr>
  </thead>

  <tbody>
    <% @equipment_types.each do |equipment_type| %>
      <tr>
    <td><%= equipment_type.equipmentTypeName %></td>
    <td><%= equipment_type.equipmentTypeDesc %></td>
        <td><div style="float: right;">
        <%= link_to t("Show"), equipment_type, :class => "btn btn-success" %>
        <%= link_to t("Edit"), edit_equipment_type_path(equipment_type), :class => "btn btn-warning" %>
        <%= link_to t("Destroy"), equipment_type, method: :delete, data: { confirm: t("Warn.Areyousure") }, :class => "btn btn-danger" %></div></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to t("equipment_type.NewEquipment type"), new_equipment_type_path, :class => "btn btn-default" %>
