<header class="header">
<div class="navbar">
<div class="container-fluid">
<div class="navbar-header navbar-block">
<button type="button" class="navbar-toggle navbar-toggle-alt" data-toggle="collapse" data-target="">
  <span class="fa fa-bars"></span>
</button>

<a class="navbar-brand" href="#"> <i class="glyphicon glyphicon-wrench"></i> &nbsp; &nbsp; &nbsp; <strong> KT - Service </strong></a>

<ul class="nav navbar-nav pull-right">
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="wrapkit apps"><i class="fa fa-th"></i></a>
  <div class="dropdown-menu dropdown-menu-lg stop-propagation">
    <div class="kit-dropapps">
      <a class="dropapps-item" href="#">
                                                <span class="fa-stack fa-2x">
                                                    <i class="fa fa-stop fa-stack-2x text-belpet"></i>
                                                    <i class="fa fa-calendar-o fa-stack-1x fa-inverse"></i>
                                                </span>
        <span class="dropapps-name">Calendar</span>
      </a><!-- /.dropapps-item -->
      <a class="dropapps-item" href="#">
                                                <span class="fa-stack fa-2x">
                                                    <i class="fa fa-stop fa-stack-2x text-osun"></i>
                                                    <i class="fa fa-cloud fa-stack-1x fa-inverse"></i>
                                                </span>
        <span class="dropapps-name">Cloud</span>
      </a><!-- /.dropapps-item -->
      <a class="dropapps-item" href="#">
                                                <span class="fa-stack fa-2x">
                                                    <i class="fa fa-stop fa-stack-2x text-ascon"></i>
                                                    <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                                                </span>
        <span class="dropapps-name">Editor</span>
      </a><!-- /.dropapps-item -->
      <a class="dropapps-item" href="#">
                                                <span class="fa-stack fa-2x">
                                                    <i class="fa fa-stop fa-stack-2x text-pomeal"></i>
                                                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                                                </span>
        <span class="dropapps-name">Mail</span>
      </a><!-- /.dropapps-item -->
      <a class="dropapps-item" href="#">
                                                <span class="fa-stack fa-2x">
                                                    <i class="fa fa-stop fa-stack-2x text-nephem"></i>
                                                    <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                                                </span>
        <span class="dropapps-name">Maps</span>
      </a><!-- /.dropapps-item -->
      <a class="dropapps-item" href="#">
                                                <span class="fa-stack fa-2x">
                                                    <i class="fa fa-stop fa-stack-2x text-wistam"></i>
                                                    <i class="fa fa-play fa-stack-1x fa-inverse"></i>
                                                </span>
        <span class="dropapps-name">Play</span>
      </a><!-- /.dropapps-item -->
      <a class="dropapps-item" href="#">
                                                <span class="fa-stack fa-2x">
                                                    <i class="fa fa-stop fa-stack-2x text-greentur"></i>
                                                    <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                                </span>
        <span class="dropapps-name">Timeline</span>
      </a><!-- /.dropapps-item -->
    </div><!-- /.kit-dropapps -->
    <div class="dropdown-footer text-center"><a href="#">Add more apps</a></div><!-- /.dropdown-footer -->
  </div><!-- /.dropdown-menu -->
</li>

<li class="dropdown">
<a href="#" class="dropdown-toggle" data-toggle="dropdown" title="7 unread notifications">
  <span class="badge">7</span>
  <i class="fa fa-bell"></i>
</a>
<div class="dropdown-menu dropdown-menu-md stop-propagation">
<div class="dropdown-header text-center">Wrapkit notifications</div><!-- /.dropdown-header -->
<div class="dropdown-body">
<!-- Nav tabs -->
<ul class="nav nav-tabs nav-tabs-alt nav-justified" role="tablist">
  <li class="active"><a href="#notif-activities" role="tab" data-toggle="tab">Activities <small class="text-muted">(3)</small></a></li>
  <li><a href="#notif-messages" role="tab" data-toggle="tab">Messages <small class="text-muted">(2)</small></a></li>
  <li><a href="#notif-tasks" role="tab" data-toggle="tab">Tasks <small class="text-muted">(2)</small></a></li>
</ul><!-- /.nav-tabs -->
<!-- Tab panes -->
<div class="tab-content">
<div class="tab-pane fade in active" id="notif-activities">
  <div class="nice-scroll" style="max-height:354px">
    <ul class="kit-droplists">
      <li class="unread">
        <a href="pages-profile.html">
          <div class="kit-avatar kit-avatar-32 pull-left">
            <img src="<%= image_url('profile.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Bent</strong> just update his project <strong>Wrapkit - Admin template</strong>
            <div><small>6 minutes</small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li class="unread">
        <a href="pages-profile.html">
          <div class="kit-avatar kit-avatar-32 pull-left">
            <img src="<%= image_url('uifaces16.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Ofelia Camacho</strong> favorite your Post
            <div><small>11 minutes</small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li>
        <a href="pages-profile.html">
          <div class="kit-avatar kit-avatar-32 pull-left">
            <img src="<%= image_url('uifaces14.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Nidia Djuvara</strong> just Upload a revision design <strong>#D7043</strong>
            <div><small>42 minutes</small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li>
        <a href="pages-profile.html">
          <div class="kit-avatar kit-avatar-32 pull-left">
            <img src="<%= image_url('uifaces15.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Jake Thomas</strong> just update his profile name from <strong>J. Thomas</strong>
            <div><small>1 hour</small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li>
        <a href="pages-profile.html">
          <div class="kit-avatar kit-avatar-32 pull-left">
            <img src="<%= image_url('uifaces13.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Jayden Williams</strong> register as a member
            <div><small>1 hour</small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li>
        <a href="pages-profile.html">
          <div class="kit-avatar kit-avatar-32 pull-left">
            <img src="<%= image_url('uifaces10.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Antonie David</strong> comment on your Post
            <div><small>1 hours ago</small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li class="unread">
        <a href="pages-profile.html">
          <div class="kit-avatar kit-avatar-32 pull-left">
            <img src="<%= image_url('uifaces18.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Laura Ferguson</strong> is no following You
            <div><small>2 hours ago</small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
    </ul><!-- /.kit-droplists -->
  </div><!-- /.nice-scroll -->
</div><!-- /.tab-pane -->

<div class="tab-pane fade" id="notif-messages">
  <div class="nice-scroll" style="max-height:354px">
    <ul class="kit-droplists">
      <li>
        <a href="pages-email.html">
          <div class="kit-avatar kit-avatar-32 kit-avatar-square pull-left">
            <img src="<%= image_url('unknown-profile.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Stilearning</strong> Newest Themes & Templates - Et est, sed mattis, donec hac
            <div><small>Today, <strong>04:30 AM</strong></small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li>
        <a href="pages-email.html">
          <div class="kit-avatar kit-avatar-32 kit-avatar-square pull-left">
            <img src="<%= image_url('uifaces7.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Eugene Barnett</strong> Service Update: added support for Angular - Sed ultricies nibh, in feugiat sapien
            <div><small>Today, <strong>03:11 AM</strong></small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li class="unread">
        <a href="pages-email.html">
          <div class="kit-avatar kit-avatar-32 kit-avatar-square pull-left">
            <img src="<%= image_url('uifaces4.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>bent10@stilearning.com</strong> Spread the Word & Earn! - Dapibus nec. Integer sed purus
            <div><small>Today, <strong>02:47 AM</strong></small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li>
        <a href="pages-email.html">
          <div class="kit-avatar kit-avatar-32 kit-avatar-square pull-left">
            <img src="<%= image_url('uifaces3.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>David Lloyd</strong> Say thanks for your awesome works! - Viverra fermentum ac. Litora mauris elit
            <div><small>Yesterday, <strong>11:41 PM</strong></small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li class="unread">
        <a href="pages-email.html">
          <div class="kit-avatar kit-avatar-32 kit-avatar-square pull-left">
            <img src="<%= image_url('unknown-profile.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Dribbble</strong> Design brief from Apple - Quis in nonummy. Ut augue, proident habitant
            <div><small>Yesterday, <strong>11:23 PM</strong></small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li>
        <a href="pages-email.html">
          <div class="kit-avatar kit-avatar-32 kit-avatar-square pull-left">
            <img src="<%= image_url('uifaces16.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Sofia Manea</strong> Need help getting started with Wrapkit - Nonummy vitae. Vehicula eget, eleifend arcu
            <div><small>Yesterday, <strong>10:04 PM</strong></small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li>
        <a href="pages-email.html">
          <div class="kit-avatar kit-avatar-32 kit-avatar-square pull-left">
            <img src="<%= image_url('uifaces20.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Olivia Gonzales</strong> Updating some of the designs! - Commodo non ac, sem netus adipiscing
            <div><small>Yesterday, <strong>08:55 PM</strong></small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
      <li>
        <a href="pages-email.html">
          <div class="kit-avatar kit-avatar-32 kit-avatar-square pull-left">
            <img src="<%= image_url('uifaces10.jpg')%>" alt="user">
          </div>
          <div class="droplists-text">
            <strong>Marco Auer</strong> Request custom designs! - Adipiscing pellentesque cum, proin luctus
            <div><small>Yesterday, <strong>03:57 PM</strong></small></div>
          </div><!-- /.media-body -->
        </a>
      </li>
    </ul><!-- /.kit-droplists -->
  </div>
</div><!-- /.tab-pane -->

<div class="tab-pane fade" id="notif-tasks">
  <div class="nice-scroll" style="max-height:318px">
    <ul class="kit-droplists">
      <li class="droplists-content">
        <p class="pull-right text-muted"><small>60%</small></p>
        <p><small><a href="#">Uploading...</a></small></p>
        <div class="progress progress-xs">
          <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
      </li>
      <li class="droplists-content">
        <p class="pull-right text-muted"><small>33%</small></p>
        <p><small><a href="#">Upgrade Theme</a></small></p>
        <div class="progress progress-xs">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="33" aria-valuemin="0" aria-valuemax="100" style="width: 33%">
            <span class="sr-only">33% Complete</span>
          </div>
        </div>
      </li>
      <li class="droplists-content">
        <p class="pull-right text-muted"><small>87%</small></p>
        <p><small><a href="#">Webapp Development</a></small></p>
        <div class="progress progress-xs">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="87" aria-valuemin="0" aria-valuemax="100" style="width: 87%">
            <span class="sr-only">87% Complete</span>
          </div>
        </div>
      </li>
      <li class="droplists-content">
        <p class="pull-right text-muted"><small>54%</small></p>
        <p><small><a href="#">Backup Data</a></small></p>
        <div class="progress progress-xs">
          <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100" style="width: 54%">
            <span class="sr-only">54% Complete</span>
          </div>
        </div>
      </li>
      <li class="droplists-content">
        <p class="pull-right text-muted"><small>92%</small></p>
        <p><small><a href="#">Bandwidth Limit</a></small></p>
        <div class="progress progress-xs">
          <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
            <span class="sr-only">92% Complete</span>
          </div>
        </div>
      </li>
      <li class="droplists-content">
        <p class="pull-right text-muted"><small>24%</small></p>
        <p><small><a href="#">Clean System</a></small></p>
        <div class="progress progress-xs">
          <div class="progress-bar" role="progressbar" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100" style="width: 24%">
            <span class="sr-only">24% Complete</span>
          </div>
        </div>
      </li>
      <li class="droplists-content unread">
        <p class="pull-right text-muted"><small>100%</small></p>
        <p><small><a href="#">Done</a> some tasks</small></p>
        <div class="progress progress-xs">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">100% Complete</span>
          </div>
        </div>
      </li>
      <li class="droplists-content unread">
        <p class="pull-right text-muted"><small>100%</small></p>
        <p><small><a href="#">Done</a> another tasks</small></p>
        <div class="progress progress-xs">
          <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">100% Complete</span>
          </div>
        </div>
      </li>
    </ul><!-- /.kit-droplists -->
  </div><!-- /.nice-scroll -->
</div><!-- /.tab-pane -->
</div><!-- /.tab-content -->
</div><!-- /.dropdown-body -->

<div class="dropdown-footer">
  <div class="pull-right">
    <p><a href="#">Mark as read</a> | <a href="#">Settings</a></p>
  </div>
  <p class="text-muted"><button rel="tooltip-bottom" title="Refresh" data-context="inverse" class="btn btn-xs btn-default"><i class="fa fa-refresh"></i></button> Last update 2 minutes ago</p>
</div><!-- /.dropdown-footer -->
</div><!-- /.dropdown-menu -->
</li>

<li class="dropdown">

  <% if current_user %>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="<%= current_user.userLogin %>">
        <img class="profile-nav" src="<%= image_url(current_user.userLogin + '.jpg')%>" alt="profile">
        <%= current_user.userLogin %> <i class="fa fa-angle-down"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">View Site</a></li>
        <li class="divider"></li>
        <li><a href="pages-timeline.html">Timeline</a></li>
        <li><a href="pages-email.html">Inbox</a></li>
        <li class="divider"></li>
        <li><a href="pages-help.html">Help</a></li>
        <li><a href="pages-locked.html">Locked</a></li>
        <li class="divider"></li>
        <% if current_user %>
            <li><%= link_to "Edit Profile", edit_user_path(current_user.id)%></li>
            <li><%= link_to "Logout", :logout%></li>
        <% else %>
            <%= link_to "Register", new_user_path%> |
            <%= link_to "Login", :login %>
        <% end %>

        <!-- <li><%#= link_to "Edit Profile", edit_user_path(current_user.id)%></li>
        <li><%#= link_to "Logout", :logout%></li> -->
      </ul>

  <% else %>
      <%# = link_to "Register", new_user_path%>
      <%= link_to "Login", :login %>
  <% end %>




  <!-- >>>>>>> Login/Logout with Wrapkit's Sign in page/Top right user account's menu. Bootstrap panels, buttons, tables etc. integrated for localhost/users route. -->
</li>
</ul><!-- /navbar-nav -->
</div><!--/.navbar-header-->
</div><!--/.container-fluid-->
</div><!--/.navbar-->

</header><!--/.header-->
